<.header>
  Observation <%= @observation.id %>

  <:actions>
    <.link patch={~p"/observations/#{@observation}/submit-sample"}>
      <.button>Submit Sample</.button>
    </.link>
    <.link navigate={~p"/observations/#{@observation}/edit"} phx-click={JS.push_focus()}>
      <.button variant="primary">Edit Observation</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Observation date"><%= @observation.observation_date %></:item>
  <:item title="Data Source"><%= @observation.data_source %></:item>
  <:item title="User"><%= @observation.user && @observation.user.email %></:item>
  <:item title="Host">
    <%= (@observation.host && @observation.host.common_name) || @observation.host_other %>
  </:item>
  <:item title="Suspected Pathology">
    <%= @observation.suspected_pathology && @observation.suspected_pathology.common_name %>
  </:item>
  <:item title="Location Type">
    <%= @observation.location_type && @observation.location_type.name %>
  </:item>
  <:item title="Position">
    <%= @observation.position && "#{@observation.latitude}, #{@observation.longitude}" %>
  </:item>
  <:item title="Country"><%= @observation.country && @observation.country.name %></:item>
  <:item title={
    (@observation.primary_subdivision && @observation.primary_subdivision.category) ||
      "Primary Subdivision"
  }>
    <%= @observation.primary_subdivision && @observation.primary_subdivision.name %>
  </:item>
  <:item title={
    (@observation.secondary_subdivision && @observation.secondary_subdivision.category) ||
      "Secondary Subdivision"
  }>
    <%= @observation.secondary_subdivision && @observation.secondary_subdivision.name %>
  </:item>
  <:item title="Location Details">
    <%= @observation.location_details %>
  </:item>
  <:item title="Organic"><%= @observation.organic %></:item>
  <:item title="Control method"><%= @observation.control_method %></:item>
  <:item title="Notes"><%= @observation.notes %></:item>
  <:item title="Images">
    <%= for image <- @observation.images do %>
      <a href={image.url} target="_blank">
        <img src={image.url} height="200" width="200" />
      </a>
    <% end %>
  </:item>
  <:item title="Metadata" if={User.has_role?(@current_user, [:researcher, :admin, :superuser])}>
    <%= @observation.metadata && Jason.encode!(@observation.metadata) %>
  </:item>
</.list>

<.header class="py-4">
  Test Results
  <:actions>
    <.link
      :if={User.has_role?(@current_user, [:researcher, :admin, :superuser])}
      navigate={~p"/test_results/new?observation_id=#{@observation}"}
      phx-click={JS.push_focus()}
    >
      <.button variant="primary">Add Test Result</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="test_results"
  rows={@observation.test_results}
  row_click={&JS.navigate(~p"/test_results/#{&1}")}
>
  <:col :let={test_result} label="Test ID">
    <%= test_result.id %>
  </:col>
  <:col :let={test_result} label="Pathology Tested">
    <div class="flex-col">
      <%= for pathology_result <- test_result.pathology_results do %>
        <div>
          <%= (pathology_result.pathology && pathology_result.pathology.common_name) || "\u00A0" %>
        </div>
      <% end %>
    </div>
  </:col>
  <:col :let={test_result} label="Result">
    <div class="flex-col">
      <%= for pathology_result <- test_result.pathology_results do %>
        <div><%= pathology_result.result || "\u00A0" %></div>
      <% end %>
    </div>
  </:col>
  <:col :let={test_result} label="Genotype">
    <div class="flex-col">
      <%= for pathology_result <- test_result.pathology_results do %>
        <div>
          <%= (pathology_result.genotype && pathology_result.genotype.name) || "\u00A0" %>
        </div>
      <% end %>
    </div>
  </:col>
  <:col :let={test_result} label="Last Updated On">
    <%= DateTime.to_date(test_result.updated_at) %>
  </:col>
</.table>

<div :if={@observation.sample} class="mt-16">
  <.header>
    Sample Results
    <:actions>
      <%= if User.has_role?(@current_user, [:researcher, :admin, :superuser]) do %>
        <.link
          navigate={~p"/observations/#{@observation}/sample/edit"}
          phx-click={JS.push_focus()}
        >
          <.button>Edit sample results</.button>
        </.link>
      <% end %>
    </:actions>
  </.header>
  <.list>
    <:item title="Result">
      <%= @observation.sample.result |> Atom.to_string() |> String.capitalize() %>
    </:item>
    <:item title="Confidence">
      <%= @observation.sample.confidence %>
    </:item>
    <:item title="Pathology">
      <%= @observation.sample.pathology && @observation.sample.pathology.common_name %>
    </:item>
    <:item title="Genotype">
      <%= @observation.sample.genotype && @observation.sample.genotype.name %>
    </:item>
    <:item title="Comments">
      <%= @observation.sample.comments %>
    </:item>
    <:item title="Data">
      <%= for %{key: k, value: v} <- @observation.sample.data do %>
        <div><%= "#{k}: #{v}" %></div>
      <% end %>
    </:item>
  </.list>
</div>

<.back navigate={~p"/observations"}>Back to Observations</.back>

<.modal
  :if={@live_action in [:add_sample, :edit_sample]}
  id="sample-results-modal"
  show
  on_cancel={JS.patch(~p"/observations/#{@observation}")}
>
  <.live_component
    module={PlantAidWeb.ObservationLive.SampleFormComponent}
    id={@observation.id}
    title={@page_title}
    action={@live_action}
    sample={@observation.sample || %Sample{observation: @observation}}
    patch={~p"/observations/#{@observation}"}
  />
</.modal>

<.modal
  :if={@live_action == :print}
  id="sample-instructions-modal"
  show
  on_cancel={JS.patch(~p"/observations/#{@observation}")}
>
  <.header>Sample Submission</.header>

  <div class="pb-4">
    To determine the genotype (strain) of the pathogen you observed, submit a sample following the procedures below.
  </div>
  <div class="font-semibold">Directions</div>
  <div id="sample_instructions" class="pb-4">
    <ol class="list-decimal p-2">
      <li>
        <.link
          href={~p"/observations/#{@observation}/print"}
          target="_blank"
          class="text-primary hover:underline"
        >
          Print the information sheet.
        </.link>
      </li>
      <li>
        Collect sample(s).*
        <ol class="list-alpha pl-4">
          <li>
            A minimum of 5 turgid leaflets** with actively sporulating lesions. Small lesions are best. These leaflets should be collected from several locations within a field when possible. If you can, please send ten leaflets (or multiple whole leaves) so that some leaves can be dried and archived.
          </li>
          <li>
            Place the foliage in an air-tight dry plastic (Ziploc) bag with a cushion of air so the foliage doesn't get crushed in transit. WRITE the sample number on the bag.
          </li>
          <li>
            Send the sample immediately. If you must &ldquo;hold&rdquo; the sample overnight, keep it at 39-50&deg;F (4-10&deg;C).
          </li>
        </ol>
      </li>
      <li>
        Pack sample(s) and information sheet. (<em>It is best to use a small shipping box rather than an envelope.</em>) Include:
        <ol class="list-alpha pl-4">
          <li>
            Sample(s)
          </li>
          <li>
            Information sheet
          </li>
          <li>
            IMPORTANT! If you are sending the sample from one state to another (across a state line), you must include a copy of the appropriate APHIS permit. If you do not have this permit, please contact Jean Ristaino (919-515-3257 or jbr@ncsu.edu ) or the lab you are sending the sample to.
          </li>
        </ol>
      </li>
      <li>
        <div class="pb-2">Mail the sample via overnight mail to:</div>
        <div class="font-semibold">
          PlantAid (c/o Jean Ristaino) <br /> 2323 Plant Sciences Building, Campus Box 7825 <br />
          840 Oval Drive <br /> North Carolina State University <br /> Raleigh, NC 27606
        </div>
      </li>
    </ol>
  </div>
  <%!-- TODO: this %>
  <%!-- <div class="pb-4">
    If you have questions about the sampling protocol, please see FAQs or contact us.
  </div> --%>

  <div class="pb-2 text-sm">
    * If you suspect multiple sources of pathogen inoculum in a single field, please submit one sample from each area. We will culture some of the isolates we receive, but not all. If there is a special reason that this particular isolate should be cultured, please let us know.
  </div>

  <div class="pb-2 text-sm">
    ** It is best to send leaf tissue when possible; we have had greater success with our assays using leaf tissue rather than fruits or tubers. Also note, taking sporangia directly from leaf tissue will speed up the analysis by at least 5 days. If you do send fruit or tubers, please send them in a separate bag or shipment so that they do not crush the leaf tissue in transit. If you want a rapid identification, it&rsquo;s crucial that there be sporulation from the infected tissue.
  </div>

  <.link href={~p"/observations/#{@observation}/print"} target="_blank">
    <.button type="button" variant="primary">Print Information Sheet</.button>
  </.link>
</.modal>
