<div class="mb-4">
  <div class="font-semibold text-3xl text-center p-4 text-lime-800">
    What is PlantAid?
  </div>
  <div class="font-light pb-4 px-8">
    PlantAid is an Emerging Plant Disease Prediction and Prevention initiative spanning 11 research universities
    and centers that emerged from an exciting
    <a
      class="text-lime-800 font-normal hover:opacity-80"
      href="https://new.nsf.gov/funding/opportunities/predictive-intelligence-pandemic-prevention-phase/nsf21-590/solicitation"
    >
      National Science Foundation Predictive Intelligence for Pandemic
      Preparedness (PIPP)
    </a>
    Grant titled “Real-Time Analytics to Monitor and Predict Emerging Plant Disease”.
    This grant allowed us to host the
    <a
      class="text-lime-800 font-normal hover:opacity-80"
      href="https://ristainolab.cals.ncsu.edu/research/1m-nsf-grant-awarded-to-help-better-predict-emerging-plant-disease-pandemics/predicting-the-next-plant-pandemic-symposium-apr-5-6-2023/"
    >
      Predicting the Next Plant Disease Pandemic Symposium (April 5-6, 2023)
    </a>
    and develop the PlantAid Forecasting Platform. We aim to merge technological innovations to improve plant
    and human health.
  </div>
  <picture class="flex">
    <source class="w-screen" media="(max-width:600px)" srcset="/images/TomatoHero_mobile.png" />
    <img
      src="/images/TomatoHero_1248w.png"
      alt="Plant Aid: Improving plant health through technology."
    />
  </picture>
</div>

<div class="bg-teal-800 p-4 text-white">
  <div class="font-semibold text-3xl text-center p-4">
    Why PlantAid?
  </div>
  <div class="font-light px-8">
    Plants are essential to human health. With expanding global trade and travel, pests and
    diseases increasingly threaten global food security. PlantAid merges data from dozens of
    sources with artificial intelligence and machine learning algorithms to predict and prevent
    plant diseases.
  </div>
  <img class="py-4 md:w-3/4 lg:w-2/3 mx-auto" src="/images/ScientificVisionInfographic.png" />
  <div class="font-light px-8">
    Importantly, in the hands of management stakeholders, the PlantAid Platform will help compare
    targeted actions to improve plant pathogen detection, prevention, and mitigation applicable to
    a range of global infectious plant diseases.
  </div>
</div>

<div class="p-4">
  <div class="font-semibold text-3xl text-center p-4 text-lime-800">
    Who are we?
  </div>
  <div class="font-light px-8">
    Starting with a shared vision of plant and human health, we build on the complementary strengths of
    our collaborating universities and institutions. While North Carolina State University serves as
    the central hub, our collaborating partners bring the range of expertise needed to achieve our r
    esearch agenda.
    <.link navigate={~p"/team"} class="text-lime-800 font-semibold hover:opacity-80 inline-flex">
      Meet the team
      <svg
        class="flex-shrink-0 size-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
    </.link>
  </div>
  <img class="py-4" src="/images/ComplementaryInstitutionalStrengths.png" />
</div>

<div class="bg-teal-800 p-4 text-white">
  <div class="font-semibold text-3xl text-center p-4">
    Our values
  </div>

  <img class="py-4" src="/images/KeySharedValues_v2.png" />
</div>

<div class="p-4">
  <div class="font-semibold text-3xl text-center p-4 text-lime-800">
    PlantAid Overview
  </div>
  <div class="font-light px-8">
    We designed the Plant AID Forecasting Platform to unify our foundational research activities through
    stakeholder engagement and use-inspired research. In this framework, multiple forecasting models are
    brought together to create an ensemble forecasting platform fed by four iterative feedback loops.
    <.link navigate={~p"/tools"} class="text-lime-800 font-semibold hover:opacity-80 inline-flex">
      Learn more about the tools and models used in PlantAid
      <svg
        class="flex-shrink-0 size-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
    </.link>
    <div class="px-8 py-4">
      <div class="font-semibold text-center">
        The PlantAid Platform Structure
      </div>
      <div class="">
        <strong class="font-semibold text-purple-500">1. The Calibration Loop</strong>
        updates as new data are collected from our genomics surveillance and detection teams.
      </div>
      <div class="">
        <strong class="font-semibold text-teal-700">2. The Scenario Modeling Loop</strong>
        allows stakeholders to interact with the models and see how management decisions change the
        potential for disease outbreaks.
      </div>
      <div class="">
        <strong class="font-semibold text-orange-600">3. In the Field Observation and Scientific Feedback Loop</strong>, our genomic surveillance team collects and IDs disease causal agents,
        determining their lineage, virulence, and any resistance breaking mutations; this feeds into the models to more accurately predict
        changes in genetic makeup. Our detection team provides new infection data from AI geo-parsed text-analytics, satellite surveillance,
        and field-deployable sensors to the forecast models.
      </div>
      <div class="">
        <strong class="font-semibold text-pink-700">4. In the Participatory Feedback Loop</strong>
        our stakeholder engagement team collaborates with stakeholders to ensure that their knowledge
        and feedback is integrated into the models and interfaces.
      </div>
    </div>
  </div>
  <img class="py-4" src="/images/PlantAidFramework.png" />
</div>
