<div class="flex items-center justify-center">
  <div class="max-w-3xl">
    <div class="font-semibold text-3xl text-center p-4 text-green-800">
      Contact
    </div>
    <div class="py-4">
      Please direct any questions to:
    </div>
    <div>
      Chris Jones
    </div>
    <div>
      Senior Research Scholar
    </div>
    <div>
      NC State University, Center for Geospatial Analytics
    </div>
    <div>
      Email: cmjone25 @ ncsu.edu
    </div>
  </div>
</div>
