<div class="flex items-center justify-center">
  <div class="max-w-5xl">
    <div class="font-semibold text-3xl text-center p-4 text-green-800">
      Pathogens
    </div>
    <div class="py-4 text-center">
      List of pathogens currently monitored by PlantAid.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      <div class="max-w-lg rounded overflow-hidden shadow-lg">
        <img
          class="w-full"
          src="/images/Pathogens/LateBlight_AdobeStock_1248w.jpg"
          alt="Late Blight on Tomato"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Late Blight</div>
          <p class="text-gray-700 text-base">
            Late blight of potato and tomato caused by <em>Phytophthora infestans</em>
            is a devastating disease worldwide and led to the Irish potato famine in 1845. Under favorable weather conditions, tomato and potato crops can be destroyed within days if left untreated. Yield losses caused by late blight and the cost of control measures have been estimated to exceed 6.7 billion dollars annually and the disease is a major threat to food security worldwide. Knowing where the disease is present can help improve the efficacy of fungicide treatments.
          </p>
        </div>
      </div>
      <div class="max-w-lg rounded overflow-hidden shadow-lg">
        <img
          class="w-full"
          src="/images/Pathogens/SOD_Humboldt.jpg"
          alt="Sudden Oak Death causing tree death in a California forest. Image provide by Humboldt."
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Sudden Oak Death</div>
          <p class="text-gray-700 text-base">
            <em>Phytophthora Ramorum</em>
            is the cause of both Sudden Oak Death (SOD), a forest disease that has resulted in widespread dieback of several tree species in California and Oregon forests, and Ramorum blight, which affects the leaves and twigs of numerous other plants in forests and nurseries. SOD has killed millions of trees in the US.
          </p>
        </div>
      </div>
      <div class="max-w-lg rounded overflow-hidden shadow-lg">
        <img
          class="w-full"
          src="/images/Pathogens/DownyMildew_AdobeStock_1248w.jpg"
          alt="Downy Mildew on diseased leaf"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Downy Mildew</div>
          <p class="text-gray-700 text-base">
            <em>Pseudoperonospora cubensis</em>
            is a species of water mould known for causing downy mildew on cucurbits such as cantaloupe, cucumber, pumpkin, squash and watermelon. It is a highly damaging pathogen for all of these crops in areas with suitable conditions such as the eastern United States. It has become one of the most important diseases in cucumber production.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
