<div class="flex items-center justify-center">
  <div class="max-w-3xl">
    <div class="font-semibold text-3xl text-center p-4 text-green-800">
      Publications and Presentations
    </div>
    <div class="py-4">
      The following journal articles, presentations, press releases, and patents were produced by the NSF PIPP Phase 1 Team.
    </div>
    <div class="text-green-800 font-semibold text-xl py-2">
      Journal Articles
    </div>
    <div class="py-2">
      Coomber, A., Saville, A., Carbone, I. and Ristaino, J.
      2023. An open access T-BAS phylogeny for emerging Phytophthora species.  Plos One:
      <a
        class="text-teal-600 font-semibold hover:opacity-80"
        href="https://doi.org/10.1371/journal.pone.0283540"
      >
        https://doi.org/10.1371/journal.pone.0283540
      </a>
    </div>
    <div class="py-2">
      Coomber, A., Saville, A. and Ristaino, J.
      2024.  Evolution of effectors of Phytophthora infestans and host R genes in historic Solanum species from 1845 to 1954. Nature Comm.: accepted with revisions.
    </div>
    <div class="py-2">
      Gugino, B. K., Britton, W., Keinath, A. P., McGrath, M. T., Melanson, R. A., Miller, S. A., LaForest, J. H. and Ojiambo, P. S. 2022. Cucurbit downy mildew ipmPIPE: A valued resource for information dissemination and in-season disease management decisions for diverse stakeholders. Phytopathology 112:163.
    </div>
    <div class="py-2">
      Coomber, A., Saville, A., Martin, M,  Carbone, I.  and Ristaino, J. 2024. A Pangenome Analysis of the Evolutionary History of the Phytophthora Ic Clade.  Science submitted
    </div>
    <div class="py-2">
      Jones, C., Skrip, M., Seliger, B., Jones. S., Wakie, T., Takeuchi, Y., Petras, V., Petrasovea, A., and Meentemeyer, R.  2022. Spotted lanternfly predicted to establish in California by 2033 without preventative management. Nature Biol. Commun. 5:558.  10.1038/s42003-022-03447-
    </div>
    <div class="py-2">
      Kikway, I. Keinath, A. P. and Ojiambo. P S. 2022. Temporal dynamics and severity of cucurbit downy mildew epidemics as affected by chemical control and cucurbit host type. Plant Disease 106: 1009-1019 10.1094/PDIS-09-21-1992-RE
    </div>
    <div class="py-2">
      Lee, G.,  Hossain, O. , Jamalzadegan, S., Liu, X.,  Wang, H.,  Saville, A. C.,  Shymanovich, T.,  Paul, R.,  Rotenberg, D.,  Whitfield, A. E., Ristaino, J. B., Zhu, Y., and Wei, Q. 2023. Abaxial leaf surface-mounted multimodal wearable sensor for continuous plant physiology monitoring. Science Advances: 9 eade2232 DOI: 10.1126/sciadv.ade2232.
    </div>
    <div class="py-2">
      Mainello-Land, A., Saville,  Amanda C., Acharya, J. and  Ristaino, J. 2024. Loop-mediated isothermal amplification to detect Phytophthora kernoviae, Phytophthora ramorum, and the P. ramorum NA1 using lyoBeads and a smartphone platform. Phytopathology accepted.
    </div>
    <div class="py-2">
      Paul, R., Ostermann, E., Wei, Q. 2022. Rapid Extraction of Plant Nucleic Acids by Microneedle Patch for In-Field Detection of Plant Pathogens. In: Luchi, N. (eds) Plant Pathology. Methods in Molecular Biology, vol 2536. Humana, New York, NY.
      <a
        class="text-teal-600 font-semibold hover:opacity-80"
        href="https://doi.org/10.1007/978-1-0716-2517-0_4"
      >
        https://doi.org/10.1007/978-1-0716-2517-0_4
      </a>
    </div>
    <div class="py-2">
      Saville, A., McGrath, M,  Jones, C.,  Polo, J.  and Ristaino, J.  2023.  Understanding the genotypic and phenotypic structure and impact of climate on Phytophthora nicotianae outbreaks on potato and tomato in the eastern US. Phytopathology 113:1506-1514..
    </div>
    <div class="py-2">
      Saeffer, A., Tateosian, L., A., Yang, Y. P., Saville, A., and Ristaino, J. B., 2023. Reconstructing 19th century and modern potato late blight outbreaks using text analytics. Nature Sci. Reports 14:2523.
    </div>
    <div class="py-2">
      Sanchez F, Galvis JA, Cardenas NC, Corzo C, Jones C and Machado G. 2023. Spatiotemporal relative risk distribution of porcine reproductive and respiratory syndrome virus in the United States.
      Front. Vet. Sci. 10:1158306. doi: 10.3389/fvets.2023.1158306
    </div>
    <div class="py-2">
      Shymanovich T, Saville A, Mohammed, N, Wei, Q., Rasmussen, D, Lahre, K., Rotenberg, D., Whitfield, A., and Ristaino JB. 2023.  Disease progress and detection of the tomato spotted wilt virus resistance breaking strain with LAMP and CRISPR assays. PhytoFrontiers     https://doi.org/10.1094/PHYTOFR-05-23-0058-FI
    </div>
    <div class="py-2">
      Tateosian, G. Saffer, A, Walden-Schreiner, C., Shukunobe, M. 2023a. Plant pest invasions, as seen through news and social media. Comput. Environ. Urban Syst. 100: 101922. https://doi.org/10.1016/j.compenvurbsys.2022.101922.
    </div>
    <div class="py-2">
      Weng, Z.  You, Z., Yang, J.,  Mohammad, N.,  Lin, M., Wei, Q.,  Gao, X.,  Zhang, Y. 2023. CRISPR-Cas Biochemistry and CRISPR-Based Molecular Diagnostics. Angewandte Chemi
      10.1002/anie.202214987.
    </div>

    <div class="text-green-800 font-semibold text-xl py-2">
      Conference Papers and Presentations
    </div>
    <div class="py-2">
      Coomber, A., Saville, A. and Ristaino, J. B.  2023. Evolution of historic effectors of Phytophthora infestans and host R genes from 1845 to 1954. Southern Division Meeting of the American Phytopathological Society. Feb 13-16, Durham NC.
    </div>
    <div class="py-2">
      Coomber, Allison, Saville, Amanda C. and Ristaino,  J. B. Whole genome sequencing of Phytophthora infestans and closely related species in the Ic subclade using MinION technology. American Phytopathological Society Annual Meeting 2023, Denver, CO, August 12-16, 2023.
    </div>
    <div class="py-2">
      Coomber, A., Saville, A., Carbone, I, and Ristaino, J. B. 2023. An open-access T-BAS phylogeny for emerging Phytophthora species. Oomycete Molecular Genetics Meeting, Lyon France, August 19-20, 2023.
    </div>
    <div class="py-2">
      Hossain, O., Li, Z., Lee, G., Jamalzadegan, S., Liu, Y., Paul, R.,  Saville, A. C., Shymanovitch, T.,  Rotenberg, D.,  Whitfield, A. E., Ristaino, J. B., Zhu, Y.,  Wei, Q.  2023.  Revolutionizing plant pathogen detection and monitoring: Portable VOC fingerprinting and continuous monitoring in agriculture. 2023. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>
    <div class="py-2">
      Horner, E. Meentemeyer, E., and Jones, C.  2023. Quantifying and partitioning uncertainty in forecasts of Sudden Oak Death infection. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>
    <div class="py-2">
      Lee, D. and Zering, K.  2023.  Economics of Plant Diseases and Disease Management with Application to Field Tomatoes. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>
    <div class="py-2">
      Mainello, A., Saville, A. C., Acharya, J., Paul. R., Wei, Q. and Ristaino, J. B. 2023. Monitoring emerging Phytophthora ramorum and P. kernoviae in Rhododendron. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>
    <div class="py-2">
      Mainello, A., Saville, A., Acharya, J. and Ristaino, J. 2023. Real-time detection of Phytophthora spp. using rapid isothermal detection on smartphones. American Phytopathological Society Annual Meeting 2023, Denver, CO, August 12-16, 2023.
    </div>
    <div class="py-2">
      Mainello-Land, A., O’Hanlon, R., Carbone, I, and Ristaino, J. 2024. A living phylogeny for tracking global populations of Phytophthora ramorum . American Phytopathological Society Annual Meeting 2024, Memphis TN, July 27-30, 2024.
    </div>
    <div class="py-2">
      Polo, J., Jones, C. Ristaino, J., Saville, A., Meadows, I.and Reeves, E. 2023.  Pest or Pathogen Spread Model Case Study with Late Blight. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>
    <div class="py-2">
      Ristaino, J. 2023. Predicting Future Phytophthora Outbreaks: New tools to identify emerging lineages and track spread. International Congress of Plant Pathology, Lyon France, August 20-25, 2023.
    </div>
    <div class="py-2">
      Saffer, A., Tateosian, L., Shukunobe, M. and Walden-Schreiner, C. 2023. Tailoring Named Entity Recognition (NER) to extract pest event data from online news and Tweets. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>
    <div class="py-2">
      Vatsavai, R. and Mei, E. 2023.  Decision Making System with Remote Sensing Data for Disease Control in Tomato Field. Conference Proceedings of Predicting the next Plant Disease Pandemic, NC State University, April 5-6, 2023.
    </div>

    <div class="text-green-800 font-semibold text-xl py-2">
      Press Releases
    </div>
    <div class="py-2">
      NC State researchers Assemble Pathogen “Tree of Life”, NC State News, April 3, 2023.
      <a
        href="https://news.ncsu.edu/2023/04/researchers-assemble-pathogen-tree-of-life/"
        class="text-teal-600 font-semibold hover:opacity-80 inline-flex"
      >
        Link
        <svg
          class="flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
    </div>
    <div class="py-2">
      Using Written Records – and Tweets – as a Roadmap for Plant Disease Spread, NC State News, February 12, 2024
      <a
        href="https://news.ncsu.edu/2024/02/using-texts-and-tweets-to-track-plant-disease-spread/"
        class="text-teal-600 font-semibold hover:opacity-80 inline-flex"
      >
        Link
        <svg
          class="flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
    </div>
    <div class="py-2">
      Mulitfunctional patch offers early detection of plant disease and other crop threats, NC State News, April 12, 2023.
      <a
        href="https://news.ncsu.edu/2023/04/plant-disease-detection-patch/"
        class="text-teal-600 font-semibold hover:opacity-80 inline-flex"
      >
        Link
        <svg
          class="flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
    </div>
    <div class="py-2">
      Early Detection of Late Blight in Tomato, Southeast FarmPress, October 10, 2022.
      <a
        href="https://www.farmprogress.com/technology/early-detection-late-blight-tomatoes?NL=SEFP-01&Issue=SEFP-01_20221010_SEFP-01_676&sfvc4enews=42&cl=article_2_b&utm_rid=CPG02000004828870&utm_campaign=71541&utm_medium=email&elq2=9e4f19e3b7324f55bec01415847095e4&sp_eh=8f9ebe646e5edda36cad97bb3e0265708f4c67bae952b21e2e90c00ee36092f3"
        class="text-teal-600 font-semibold hover:opacity-80 inline-flex"
      >
        Link
        <svg
          class="flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
    </div>

    <div class="text-green-800 font-semibold text-xl py-2">
      Patents
    </div>
    <div class="py-2">
      United States Provisional Patent Application Serial No. 62/873,561 for METHODS AND SYSTEMS FOR ASSESSING PLANT CONDITIONS BY VOLATILE DETECTION. Ref. 19059. 297/321 PROV Wei, Q., Li, Z. and Ristaino, J.
    </div>
    <div class="py-2">
      United States Provisional Patent Application Serial No. 63/036,113 MICRONEEDLE-BASED EXTRACTION FROM PLANT SEEDS AND OTHER PLANT TISSES. RELATED METHODS, SYSTEMS AND DEVICES. Attorney Docket 297/340. Gu, Z., Paul, R. Ristaino, J. B., Wei, Q.
    </div>
    <div class="py-2">
      United States Provisional Patent Application Serial No. 63/036,098. MICRONEEDLE BASED RAPID ANALYTE EXTRACTION FROM PLANT AND ANIMAL TISSUES AND RELATED METHODS AND SYSTEMS. Attorney Docket 297/335. Gu, Z., Paul, R. Ristaino, J. B., Wei, Q.
    </div>
  </div>
</div>
