<div class="flex items-center justify-center">
  <div class="max-w-5xl">
    <div class="font-semibold text-3xl text-center p-4 text-green-800">
      Team
    </div>
    <div class="font-semibold text-2xl text-center p-4 text-stone-500">
      PlantAid Core Team
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Jones_Chris.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Chris Jones</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Ecological Forecasting
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://cnr.ncsu.edu/directory/christopher-jones/"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Ristaino_Jean.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Jean Ristaino</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Population Genetics
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://cals.ncsu.edu/entomology-and-plant-pathology/people/jbr/"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Meentemeyer_Ross.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Ross Meentemeyer</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 text-sm italic">
            Trade and Travel Modeling and Participatory Modeling
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://cnr.ncsu.edu/geospatial/people/ross-meentemeyer/"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Carbone_Ignazio.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Ignazio Carbone</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Phylogenetics
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://www.cifr.ncsu.edu/ignazio-carbone/"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Wei_Qinshan.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Qinshan Wei</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Molecular Engineering
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://weigroup.wordpress.ncsu.edu"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Whitfield_Anna.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Anna Whitfield</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Plant Virus-Vector Interactions
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://cals.ncsu.edu/entomology-and-plant-pathology/people/awhitfi/"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Tateosian_Laura.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Laura Tateosian</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Geoparsing
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://cnr.ncsu.edu/geospatial/people/laura-tateosian/"
          >
            Website
          </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Ojiambo_Peter.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Peter Ojiambo</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Wind-Driven Dispersal Modeling
          </p>
          <a
            class="text-green-800 font-normal hover:opacity-80"
            href="https://cals.ncsu.edu/entomology-and-plant-pathology/people/pojiamb/"
          >
            Website
          </a>
        </div>
      </div>
    </div>

    <div class="font-semibold text-2xl text-center p-4 text-stone-500">
      Collaborators
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Barnhill_Katie.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Katie Barnhill-Dilling</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Social Science
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Bebber_Dan.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Dan Bebber</div>
          <p class="text-gray-700 text-base">
            University of Exeter
          </p>
          <p class="text-gray-700 italic">
            Species Distribution Modeling
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Bradshaw_Michael.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Michael Bradshaw</div>
          <p class="text-gray-700 text-base">
            North Carolina State University
          </p>
          <p class="text-gray-700 italic">
            Evolutionary Genetics
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Cunniffe_Nik.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Nik Cunniffe</div>
          <p class="text-gray-700 text-base">
            University of Cambridge
          </p>
          <p class="text-gray-700 italic">
            Mathematical Modeling
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Garrett_Karen.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Karen Garrett</div>
          <p class="text-gray-700 text-base">
            University of Florida
          </p>
          <p class="text-gray-700 italic">
            Impact Network Analysis
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Gold_Katie.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Katie Gold</div>
          <p class="text-gray-700 text-base">
            Cornell
          </p>
          <p class="text-gray-700 italic">
            Machine Learning
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Grunwald_Nik.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Nik Grunwald</div>
          <p class="text-gray-700 text-base">
            Oregon State University
          </p>
          <p class="text-gray-700 italic">
            Population Genetics
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Leboldus_Jared.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Jared Leboldus</div>
          <p class="text-gray-700 text-base">
            Oregon State University
          </p>
          <p class="text-gray-700 italic">
            Forest Pathology
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/McRoberts_Neil.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Neil McRoberts</div>
          <p class="text-gray-700 text-base">
            UC Davis
          </p>
          <p class="text-gray-700 italic">
            Stakeholder Engagement
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Saunders_Diane.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Diane Saunders</div>
          <p class="text-gray-700 text-base">
            John Innes Center
          </p>
          <p class="text-gray-700 italic">
            Pathogen Virulence
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Stack_Jim.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Jim Stack</div>
          <p class="text-gray-700 text-base">
            Kansas State University
          </p>
          <p class="text-gray-700 italic">
            Disease Management
          </p>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Headshots/Taylor_Bryony.jpeg" alt="Chris Jones" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl">Bryony Taylor</div>
          <p class="text-gray-700 text-base">
            CABI
          </p>
          <p class="text-gray-700 italic">
            Global Engagement
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
