<div class="flex items-center justify-center">
  <div class="max-w-3xl">
    <div class="font-semibold text-3xl text-center p-4 text-green-800">
      PlantAid Tools
    </div>
    <div class="py-4 text-center">
      Below are some of the tools used in the PlantAid Platform.
    </div>
    <div class="m-4 p-4 grid grid-cols-1 sm:grid-cols-2 border-teal-700 border-spacing-4 border-4 justify-items-center content-center">
      <div class="flex content-center items-center ">
        <img
          class="object-scale-down h-48 "
          src={~p"/images/ToolLogos/PoPS_Logo_white_background.png"}
        />
      </div>
      <div class="py-4">
        <a class="font-semibold text-teal-700 hover:text-teal-600" href="https://popsmodel.org/">
          PoPS (Pest or Pathogen Spread) Model
        </a>
        is a free and open-source framework developed by Chris Jones and Ross Meentemeyer that allows for calibrating, validating, and forecasting the spread of any pest or pathogen. This tool is designed to make predictions of pathogen outbreak more comparable and predictable across systems.
      </div>
    </div>
    <div class="m-4 p-4 grid grid-cols-1 sm:grid-cols-2 border-teal-700 border-spacing-4 border-4 justify-items-center align-center">
      <div class="flex content-center items-center ">
        <img class="object-scale-down h-36 " src={~p"/images/ToolLogos/tbas_logo.png"} />
      </div>
      <div class="py-4 ">
        <a
          class="font-semibold text-teal-700 hover:text-teal-600"
          href="https://tbas.cifr.ncsu.edu/tbas2_3/pages/tbas.php"
        >T-BAS</a>: A Phylogenetic-data repository and tool for phylogeny-based placement of DNA, mRNA or protein sequences, viewing alignments and specimen metadata on curated and custom trees.
      </div>
    </div>
    <div class="m-4 p-4 grid grid-cols-1 sm:grid-cols-2 border-teal-700 border-spacing-4 border-4 justify-items-center align-center">
      <div class="flex content-center items-center ">
        <img class="object-scale-down h-48" src={~p"/images/ToolLogos/StrainClassifier.png"} />
      </div>
      <div class="py-4">
        <a
          class="font-semibold text-teal-700 hover:text-teal-600"
          href="https://guide-tbas.cifr.ncsu.edu/tbas"
        >Phytophthora Phylogeny T-BAS Identifier</a>: We developed a multilocus genus level phylogeny that includes more than 190  Phytophthora species (Coomber et al, 2022). Users can place their isolates and get identification of the closest species and clades.
      </div>
    </div>
  </div>
</div>
