<.header>
  Pathology <%= @pathology.id %>
  <:subtitle>This is a pathology record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/admin/pathologies/#{@pathology}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit pathology</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Common name"><%= @pathology.common_name %></:item>
  <:item title="Scientific name"><%= @pathology.scientific_name %></:item>
  <:item title="Genotypes">
    <div :for={genotype <- @pathology.genotypes}>
      <%= genotype.name %>
    </div>
  </:item>
</.list>

<.back navigate={~p"/admin/pathologies"}>Back to Pathologies</.back>

<.modal
  :if={@live_action == :edit}
  id="pathology-modal"
  show
  on_cancel={JS.patch(~p"/admin/pathologies/#{@pathology}")}
>
  <.live_component
    module={PlantAidWeb.PathologyLive.FormComponent}
    id={@pathology.id}
    title={@page_title}
    action={@live_action}
    current_user={@current_user}
    pathology={@pathology}
    patch={~p"/admin/pathologies/#{@pathology}"}
  />
</.modal>
