<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · PlantAid">
      <%= assigns[:page_title] || "PlantAid" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="https://kit.fontawesome.com/13b83b6ee8.js" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js">
    </script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet" />
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
